<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>




    <div class="col-start-1 col-span-8 pl-8",
         data-controller= "nested-form",
         data-nested-form-wrapper-selector-value= '.nested-form-wrapper'>
         <div class="w-full grid grid-cols-8">
           <div class="col-start-1 col-span-4">
             <div class="grid grid-cols-8 gap-y-4">
                 <% puts "I'm a placeholder" %>
             </div>
           </div>
         </div>
